.text {
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
}

.temp {
  margin-left: 20px;
  margin-top: 70px;
}

.p1 {
  color: green;
}

.p2 {
  color: red;
}

.p3 {
  color: darkorange;
}
